:root {
  --hue: 0;
  --di: 50vw;
}

@media (min-width: 600px) {
  :root {
    --di: 33.333vw;
  }
}
@media (min-width: 1024px) {
  :root {
    --di: 25vw;
  }
}
@media (min-width: 1200px) {
  :root {
    --di: 20vw;
  }
}

body {
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main figure {
  background-color: hsl(var(--hue), 87%, 80%);
  margin: 0;
  overflow: hidden;
  position: relative;
  width: var(--di);
}

main figure::before {
  background-color: hsl(var(--hue), 100%, 10%);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  mix-blend-mode: lighten;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

main figure img {
  display: block;
  filter: grayscale(100%) contrast(1) brightness(1);
  height: var(--di);
  mix-blend-mode: multiply;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  position: relative;
  transition: opacity 250ms ease-in-out;
  width: var(--di);
}

main figure:hover img {
  filter: none;
  mix-blend-mode: normal;
}

main figure:hover::before {
  display: none;
}

main figure.loaded img {
  opacity: 1;
}

main figure figcaption {
  display: none;
}
